model_config_list: {
  config: {
    name: "dept_classify_char",
    base_path: "/models/dept_classify/char",
    model_platform: "tensorflow"
  },
  config: {
    name: "dept_classify_pinyin",
    base_path: "/models/dept_classify/pinyin",
    model_platform: "tensorflow"
  },
  config: {
    name: "dept_classify_char_pinyin",
    base_path: "/models/dept_classify/char_pinyin",
    model_platform: "tensorflow"
  },
  config: {
    name: "dept_classify_cnn",
    base_path: "/models/dept_classify/cnn",
    model_platform: "tensorflow"
  },
  config: {
    name: "intention_union",
    base_path: "/models/intention/union",
    model_platform: "tensorflow"
  },
  config: {
    name: "order_check_standard_is_proactive",
    base_path: "/models/order_check_standard/is_proactive",
    model_platform: "tensorflow"
  },
  config: {
    name: "order_check_standard_is_detailed",
    base_path: "/models/order_check_standard/is_detailed"
    model_platform: "tensorflow"
  },
  config: {
    name: "order_check_standard_is_clear",
    base_path: "/models/order_check_standard/is_clear",
    model_platform: "tensorflow"
  },
  config: {
    name: "order_check_standard_is_warm",
    base_path: "/models/order_check_standard/is_warm",
    model_platform: "tensorflow"
  },
  config: {
    name: "order_check_standard_is_review",
    base_path: "/models/order_check_standard/is_review",
    model_platform: "tensorflow"
  }
}
